{% extends "admin/admin_navbar.html.twig" %}

{% block title %}
Directer Panel
{% endblock %}

{% block brand_redirect %}
{{path('admin_panel')}}
{% endblock %}

{% block content %}
<h2 style="text-align: center ;margin-top: 20px"><b>Admin Directer Panel</b></h2>
<div class="container-fluid">
{% for message in app.flashes('directer_notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<a href="{{path('add_directer')}}" class="btn btn-primary" role="button" aria-pressed="true"><i class="fa fa-plus-circle"></i> Add Directer</a>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-arrows-v"></i> Sort
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{{path('directer_dashboard_desc')}}">New -- old</a>
    <a class="dropdown-item" href="{{path('directer_dashboard')}}">Old -- new</a>
</div>
</div>

<div style="margin-top:20px; margin-buttom:0px">
 {{ knp_pagination_render(fetch_directers) }}
 </div>
 

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Directer id</th>
      <th scope="col">Directer image</th>
      <th scope="col">Directer name</th>
      <th scope="col">Directer gender</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for directer in fetch_directers %}
    <tr>
      <td scope="row">
      {{directer.id}}
     </td>
      <td><a href="{{path('directer_details',{id: directer.id})}}"><img src="/upload/{{directer.image}}" alt="not found" style="width: 40px; height: 50px;"></a></td>
      <td>{{directer.name}}</td>
      <td>{{directer.gender}}</td>
      <td>
      <a href="{{path('update_directer',{id: directer.id})}}" class="btn btn-primary " role="button" aria-pressed="true"><i class="fa fa-repeat"></i> Update</a>
      <a href="{{path('delete_directer',{id: directer.id})}}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fa fa-trash"></i> Delete</a>
      </td>
    </tr>
 {% endfor %}
  </tbody>
</table>
{% endblock %}