{% extends "admin/admin_navbar.html.twig" %}

{% block title %}
Writer Panel
{% endblock %}

{% block brand_redirect %}
{{path('admin_panel')}}
{% endblock %}

{% block content %}
<h2 style="text-align: center ;margin-top: 20px"><b>Admin Writer Panel</b></h2>
<div class="container-fluid">
{% for message in app.flashes('writer_notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<a href="{{path('writer_add')}}" class="btn btn-primary" role="button" aria-pressed="true"><i class="fa fa-plus-circle"></i> Add Writer</a>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-arrows-v"></i> Sort
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{{path('writer_panel_desc')}}">New -- old</a>
    <a class="dropdown-item" href="{{path('writer_dashboard')}}">Old -- new</a>
</div>
</div>

<div style="margin-top:20px; margin-buttom:0px">
 {{ knp_pagination_render(fetchWriter) }}
 </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Writer id</th>
      <th scope="col">Writer image</th>
      <th scope="col">Writer name</th>
        <th scope="col">Writer gender</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for writer in fetchWriter %}
    <tr>
      <td scope="row">
      {{writer.id}}
     </td>
      <td><a href="{{path('writer_details',{id: writer.id})}}"><img src="/upload/{{writer.image}}" alt="not found" style="width: 40px; height: 50px;"></a></td>
      <td>{{writer.name}}</td>
       <td>{{writer.gender}}</td>
      <td>
      <a href="{{path('writer_update',{id: writer.id})}}" class="btn btn-primary " role="button" aria-pressed="true"><i class="fa fa-repeat"></i> Update</a>
      <a href="{{path('delete_writer',{id: writer.id})}}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fa fa-trash"></i> Delete</a>
      </td>
    </tr>
 {% endfor %}
  </tbody>
</table>
{% endblock %}